body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.app {
  text-align: center;
  padding: 30px;
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
}

h1 {
  margin-bottom: 20px;
}

/* Input */
.input-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  width: 200px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* List */
.list {
  margin-top: 20px;
}

.todo-item {
  background: white;
  color: black;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.todo-item:hover {
  transform: scale(1.05);
}

/* Completed */
.completed {
  text-decoration: line-through;
  color: gray;
}

/* Delete */
.delete-btn {
  background: red;
  color: white;
}

.delete-btn:hover {
  background: darkred;
}

/* Clear */
.clear-btn {
  margin-top: 15px;
  background: black;
  color: white;
}

.clear-btn:hover {
  background: #333;
}